@mixin bordersMozilla(){
    background-color: #343434;
    border-top: 1px solid #8a8a8a;
    border-bottom: 1px solid #8a8a8a;
}

@mixin borderColor(){
    border: 1px solid #8a8a8a;
}

@mixin DivMozilla(){
    background-color: #343434;
    border: 1px solid #8a8a8a;
}

@mixin InfoMozilla(){
    background-color: rgba(0, 133, 242, 0.179);
    border-left: 5px solid #5e9eff;
    border-top: 1px solid #8a8a8a;
    border-right: 1px solid #8a8a8a;
    border-bottom: 1px solid #8a8a8a;
}

@mixin DimensionInsideDivMozilla(){
    padding: 1rem;
    padding-top: -7px;
    border-radius: 0.4rem;

}