@import 'mixin';
@import 'var';

body{
    color: white;
    background-color: black;

    .header--notification{
        @include bordersMozilla();
        display : flex;
        justify-content: center;
        align-items: center;
        padding: auto;
        height: 3rem;
    
        div{
            a{
                color: rgb(153, 80, 221);
            }
        }
    }

    .modify--nav-background{
        background-color: black !important;
        *{
            color: white;
        }
    }


    .modify--floater{
        background-color: brown;
        color: rgb(0, 0, 0);
        font-size: 10px;
        padding: 1px;
        border-radius: 0.4rem;
        position: absolute;
        margin-left: 4%;
    }

    ul li{
        list-style-type: none;
        &:hover{
            background-color: rgba(0, 217, 255, 0.28);
        }
    }

    .modify--button-nav-item{
        color : black
    }

    .modify--li-a-color{
        color : white;
    }

    .header--link{
        @include bordersMozilla();
        display: flex;

        .d-flex1{
            display : flex;
            justify-content: flex-start;    
        }

        .d-flex2{
            display : flex;
            justify-content: flex-end;
        }
    }

    .flexing{
        display: flex;
        justify-content: space-between;
        .left-side{
            // height: 100%;
            width: 28%;
            overflow-y: scroll;
            &--ul-style{
                list-style-image: url('caret-right-solid.svg');
            }
        }

        .center-side{
            width: 50%;
            h1{
                text-align: left;
            }

            &--border-notification{
                @include DivMozilla();
                @include DimensionInsideDivMozilla();
            }

            &--border-information{
                display: flex;
                justify-content: space-around;
                @include InfoMozilla();
                @include DimensionInsideDivMozilla();

                &--text{
                    padding-left: 1rem;
                }
            }

            // &--list--guides ul{
            //     list-style: none;
            // }

            &--border-CloseSeeAlso{
                @include DivMozilla();
                @include DimensionInsideDivMozilla();
            }
        }
    
        .right-side{
            &--border{
                border-left: 1px solid white
            }
        }
    
    }

    footer{
        background-color: $background-lightMod;
        @include borderColor();
        .get--flex{
            display: flex;
            justify-content: space-between;
        }

        hr{
            background-color: $background-colorGray;
        }
    }
}
