body {
  color: white;
  background-color: black;
}
body .header--notification {
  background-color: #343434;
  border-top: 1px solid #8a8a8a;
  border-bottom: 1px solid #8a8a8a;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: auto;
  height: 3rem;
}
body .header--notification div a {
  color: rgb(153, 80, 221);
}
body .modify--nav-background {
  background-color: black !important;
}
body .modify--nav-background * {
  color: white;
}
body .modify--floater {
  background-color: brown;
  color: rgb(0, 0, 0);
  font-size: 10px;
  padding: 1px;
  border-radius: 0.4rem;
  position: absolute;
  margin-left: 4%;
}
body ul li {
  list-style-type: none;
}
body ul li:hover {
  background-color: rgba(0, 217, 255, 0.28);
}
body .modify--button-nav-item {
  color: black;
}
body .modify--li-a-color {
  color: white;
}
body .header--link {
  background-color: #343434;
  border-top: 1px solid #8a8a8a;
  border-bottom: 1px solid #8a8a8a;
  display: flex;
}
body .header--link .d-flex1 {
  display: flex;
  justify-content: flex-start;
}
body .header--link .d-flex2 {
  display: flex;
  justify-content: flex-end;
}
body .flexing {
  display: flex;
  justify-content: space-between;
}
body .flexing .left-side {
  width: 28%;
  overflow-y: scroll;
}
body .flexing .left-side--ul-style {
  list-style-image: url("caret-right-solid.svg");
}
body .flexing .center-side {
  width: 50%;
}
body .flexing .center-side h1 {
  text-align: left;
}
body .flexing .center-side--border-notification {
  background-color: #343434;
  border: 1px solid #8a8a8a;
  padding: 1rem;
  padding-top: -7px;
  border-radius: 0.4rem;
}
body .flexing .center-side--border-information {
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 133, 242, 0.179);
  border-left: 5px solid #5e9eff;
  border-top: 1px solid #8a8a8a;
  border-right: 1px solid #8a8a8a;
  border-bottom: 1px solid #8a8a8a;
  padding: 1rem;
  padding-top: -7px;
  border-radius: 0.4rem;
}
body .flexing .center-side--border-information--text {
  padding-left: 1rem;
}
body .flexing .center-side--border-CloseSeeAlso {
  background-color: #343434;
  border: 1px solid #8a8a8a;
  padding: 1rem;
  padding-top: -7px;
  border-radius: 0.4rem;
}
body .flexing .right-side--border {
  border-left: 1px solid white;
}
body footer {
  background-color: #343434;
  border: 1px solid #8a8a8a;
}
body footer .get--flex {
  display: flex;
  justify-content: space-between;
}
body footer hr {
  background-color: #8a8a8a;
}/*# sourceMappingURL=style.css.map */